[Desktop Entry]
Type=Application
Name=UltraStar-Creator
Exec=UltraStar-Creator %F
Icon=UltraStar-Creator
Comment=Create new songs for UltraStar from scratch.
Terminal=true
Categories=Qt;Game;Music;Karaoke;UltraStar;
Name[en]=UltraStar-Creator.desktop
